<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Księgarnia internetowa - @ViewBag.Title</title>
      
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/yeti/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
<div id="wrapper">
    @RenderSection("scripts")
    @RenderBody()
    
</div>


</body>
</html>